.question-table-container {
    margin: 20px;
}

.question-table {
    width: 100%;
    border-collapse: collapse;
}

.question-table th,
.question-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.question-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

.question-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.question-table tr:hover {
    background-color: #ddd;
}