/* QuestionDetail.css */

.container {
    max-width: 50rem;
    margin: 100px auto;
    padding: 1rem;
    background-color: #E8E8E8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;

}

.choice-container {
    display: flex;
}

.title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.label {
    display: block;
    color: #4a5568;
}

.value {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.input {
    width: 96%;
    padding: 0.5rem;
    border: 1px solid #d2d6dc;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-save {
    background-color: #6947ED;
    border: 0;
}

.button-save:hover {
    background-color: #7157db;
    border: 0;
}

.button-delete {
    background-color: #ff4d4d;
    border: 0;
}

.button-delete:hover {
    background-color: #e53e3e;
    border: 0;
}