.container {
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.stagiaire-info p {
    margin: 5px 0;
}

.subtitle {
    font-size: 20px;
    margin: 20px 0 10px;
}

.questionnaire-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.questionnaire-table th,
.questionnaire-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.questionnaire-table th {
    background-color: #f2f2f2;

}

.button-back {
    padding: 10px 15px;
    border: none;
    background-color: #6947ED;
    color: white;
    cursor: pointer;
}